In [1]:
# Connecting to Commodity & Company Share Prices
#### November 30, 2017 | Jon Honda | Sprint 2
#### Description
####Learn about connecting to data sources (APIs, databases). Learn about developing data models to hold data in ways that are helpful to us.

## Skill Backlog User Story
####As a financial analyst I need to be able to retrieve and store web based market price data so that I can run analyses on the collected data.

## Project Proposal
####I will work with the Quandl API to retrieve daily closing metal commodity price and mining stock price data. I will build a SQLite database model to store the data. I will build several SQL SELECT commands to get different data reports from the database.

## Key Questions
####- Things I want to find out
####    1. What data type does Quandl API provide information in?
####    2. What is a pandas data type? what is a NUMPYS data type?
####    3. How do you create and work with SQLite databases in python?

## Things I actually ended up learning:
#### 1. connect to quandl api
#### 2. discovered dataframes, pandas
#### 3. work with SQLite (create DB, write table, insert records, query data)
#### 4. work with loops (for loops)
#### 5. worked with modulus

## Key Findings
####- see below for findings reported as a stream of conciousness

In [2]:
## Simple Quandl call:
import quandl
quandl.ApiConfig.api_key= "L8zt1AhNiQi4gufsXy4g"
mydata = quandl.get("FRED/GDP")
print(mydata)

                Value
Date
1947-01-01    243.080
1947-04-01    246.267
1947-07-01    250.115
1947-10-01    260.309
1948-01-01    266.173
1948-04-01    272.897
1948-07-01    279.497
1948-10-01    280.656
1949-01-01    275.370
1949-04-01    271.692
1949-07-01    273.262
1949-10-01    270.984
1950-01-01    281.209
1950-04-01    290.735
1950-07-01    308.510
1950-10-01    320.320
1951-01-01    336.372
1951-04-01    344.455
1951-07-01    351.774
1951-10-01    356.579
1952-01-01    360.195
1952-04-01    361.414
1952-07-01    368.084
1952-10-01    381.241
1953-01-01    388.472
1953-04-01    392.259
1953-07-01    391.696
1953-10-01    386.521
1954-01-01    385.924
1954-04-01    386.716
...               ...
2010-04-01  14888.600
2010-07-01  15057.660
2010-10-01  15230.208
2011-01-01  15238.371
2011-04-01  15460.926
2011-07-01  15587.125
2011-10-01  15785.312
2012-01-01  15973.881
2012-04-01  16121.851
2012-07-01  16227.939
2012-10-01  16297.349
2013-01-01  16475.440
2013-04-01  16541.390
2013-07-01  16749.349
2013-10-01  16999.888
2014-01-01  17031.324
2014-04-01  17320.921
2014-07-01  17622.257
2014-10-01  17735.933
2015-01-01  17874.715
2015-04-01  18093.224
2015-07-01  18227.689
2015-10-01  18287.226
2016-01-01  18325.187
2016-04-01  18538.039
2016-07-01  18729.130
2016-10-01  18905.545
2017-01-01  19057.705
2017-04-01  19250.009
2017-07-01  19508.986

[283 rows x 1 columns]

In [3]:
## Working with Quandl data
#### Quandl's default is to provide data in the PANDAS data format. 
print(type(mydata))

<class 'pandas.core.frame.DataFrame'>

In [4]:

#### I'll explore pandas.
#### random 5x3 data table:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3), index=list('abcde'), columns=list('xyz'))
print(df)
type(df)

          x         y         z
a -0.202528  0.988696  0.334624
b  1.301403  0.559993 -1.546599
c -0.544730  0.400141 -1.740865
d -2.588194  0.507985  0.369627
e  0.086023 -0.814499 -0.201704

pandas.core.frame.DataFrame

In [5]:
#### YAY! I also learned that you can do arithmatic ops on the entire table at once:
print(df/df)

     x    y    z
a  1.0  1.0  1.0
b  1.0  1.0  1.0
c  1.0  1.0  1.0
d  1.0  1.0  1.0
e  1.0  1.0  1.0

In [6]:
#### wow! this has POTENTIAL! so much operation, so little code!
#### what if I want to access a value? say, (b,x)? 
#### according to site, several ways: https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python


print(df.iloc[1][0])
print(type(df.iloc[1][0]))
print(df.iloc[1]['x'])
print(type(df.iloc[1]['x']))

1.30140315591
<class 'numpy.float64'>
1.30140315591
<class 'numpy.float64'>

In [7]:
#### how do you know how many rows?
#### https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe
#### len(df.index)
len(df.index)

5

In [8]:
#### great. let's try getting some data

import quandl
quandl.ApiConfig.api_key= "L8zt1AhNiQi4gufsXy4g"
mydata = quandl.get("FRED/GDP")
print(mydata.iloc[0][0])
print(mydata.iloc[1][0])

243.08
246.267

In [9]:
#### so, this gets the column data, but what about the date?
#### after some googlefoo, I discovered that the dates are being held in the dataframe's index.
#### question: how to access dataframe index value???
#### Justin helped me figure it out:
#### .index gets the entire index:
print(mydata.index)

#### .index[0] gets a specific index value:
print(mydata.index[0])

DatetimeIndex(['1947-01-01', '1947-04-01', '1947-07-01', '1947-10-01',
               '1948-01-01', '1948-04-01', '1948-07-01', '1948-10-01',
               '1949-01-01', '1949-04-01',
               ...
               '2015-04-01', '2015-07-01', '2015-10-01', '2016-01-01',
               '2016-04-01', '2016-07-01', '2016-10-01', '2017-01-01',
               '2017-04-01', '2017-07-01'],
              dtype='datetime64[ns]', name='Date', length=283, freq=None)
1947-01-01 00:00:00

In [10]:
#### so, it's a datetime value...what are SQLite data types for handling date time?
#### according to: https://www.sqlite.org/datatype3.html

#### there is no datetime data type. we can only use test, real, and integer.

In [11]:
#### BUT....Justin says that there is a more efficient way to insert data using a pandas sqlite library
#### use the write_frame method
#### https://stackoverflow.com/questions/14431646/how-to-write-pandas-dataframe-to-sqlite-with-index

##### ALSO NOTE!!!! we can change the index into a column!!!! the site above uses this method.
####  this uses the .rese_index() method of pandas object.  in our case:

Data2Col = mydata.reset_index()
Data2Col

          Date      Value
0   1947-01-01    243.080
1   1947-04-01    246.267
2   1947-07-01    250.115
3   1947-10-01    260.309
4   1948-01-01    266.173
5   1948-04-01    272.897
6   1948-07-01    279.497
7   1948-10-01    280.656
8   1949-01-01    275.370
9   1949-04-01    271.692
10  1949-07-01    273.262
11  1949-10-01    270.984
12  1950-01-01    281.209
13  1950-04-01    290.735
14  1950-07-01    308.510
15  1950-10-01    320.320
16  1951-01-01    336.372
17  1951-04-01    344.455
18  1951-07-01    351.774
19  1951-10-01    356.579
20  1952-01-01    360.195
21  1952-04-01    361.414
22  1952-07-01    368.084
23  1952-10-01    381.241
24  1953-01-01    388.472
25  1953-04-01    392.259
26  1953-07-01    391.696
27  1953-10-01    386.521
28  1954-01-01    385.924
29  1954-04-01    386.716
..         ...        ...
253 2010-04-01  14888.600
254 2010-07-01  15057.660
255 2010-10-01  15230.208
256 2011-01-01  15238.371
257 2011-04-01  15460.926
258 2011-07-01  15587.125
259 2011-10-01  15785.312
260 2012-01-01  15973.881
261 2012-04-01  16121.851
262 2012-07-01  16227.939
263 2012-10-01  16297.349
264 2013-01-01  16475.440
265 2013-04-01  16541.390
266 2013-07-01  16749.349
267 2013-10-01  16999.888
268 2014-01-01  17031.324
269 2014-04-01  17320.921
270 2014-07-01  17622.257
271 2014-10-01  17735.933
272 2015-01-01  17874.715
273 2015-04-01  18093.224
274 2015-07-01  18227.689
275 2015-10-01  18287.226
276 2016-01-01  18325.187
277 2016-04-01  18538.039
278 2016-07-01  18729.130
279 2016-10-01  18905.545
280 2017-01-01  19057.705
281 2017-04-01  19250.009
282 2017-07-01  19508.986

[283 rows x 2 columns]

In [12]:
#### continuing on...:
#### https://stackoverflow.com/questions/14431646/how-to-write-pandas-dataframe-to-sqlite-with-index

import sqlite3
from pandas.io import sql

import os

db = sqlite3.connect(':memory:') #### allocate memory
os.remove('_jonhonda_dat\mydb2') #### remove existing db if it exists
db = sqlite3.connect('_jonhonda_dat\mydb2')  #### make a database
#### build table:
cursor = db.cursor()
cursor.execute ('''
CREATE TABLE StockPrices(id INTEGER PRIMARY KEY, Date TEXT, Value REAL)
''')
db.commit()
db.close()
# Date2Col = mydata.reset_index() #### write date index to column
# sql.write_frame(Date2Col,name='StockPrices')
print('writing to dataframe')

writing to dataframe

In [13]:
#### ARG!!!!! reading the next lines of comments in stackoverflow indicates write_Frame is discontinued....
#### it says to use sqlalchemy: 

#### from sqlalchemy import create_engine

#### disk_engine = create_engine('sqlite:///my_lite_store.db')
#### price.to_sql('stock_price', disk_engine, if_exists='append')

#### BUT I DONT KNOW HOW TO USE THIS, AND AM RUNNING SHORT OF TIME.
#### OKAY - JUST USE AN INSERT INTO LOOP

In [14]:
#### need to cast datetime to text:
#### https://stackoverflow.com/questions/10624937/convert-datetime-object-to-a-string-of-date-only-in-python
import datetime
t = datetime.datetime(2012, 2, 23, 0, 0)
t.strftime('%m/%d/%Y')

'02/23/2012'

In [15]:
a=mydata.index[0]
a.strftime('%m/%d/%Y')
print(a)

1947-01-01 00:00:00

In [16]:
#### need to cast NUMPY 64 float to SQLITE3 real:
#### https://stackoverflow.com/questions/35106631/compatibility-between-numpy-and-sql-data-types

# SQLite supports a limited set of data types. To use numpy Python data types you can use the register_adapter function that converts the type to an SQLite supported representation.
# import numpy as np
# import sqlite3

# sqlite3.register_adapter(np.float64, float)
# sqlite3.register_adapter(np.float32, float)
# sqlite3.register_adapter(np.int64, int)
# sqlite3.register_adapter(np.int32, int)

In [4]:
import sqlite3
from pandas.io import sql

import datetime
import os

db = sqlite3.connect(':memory:') #### allocate memory
#os.remove('_jonhonda_dat\mydb2') #### remove existing db if it exists
db = sqlite3.connect('_jonhonda_dat\mydb2')  #### make a database
 #### build table:
cursor = db.cursor()
cursor.execute ('''CREATE TABLE StockPrices(id INTEGER PRIMARY KEY, Date TEXT, StockValue FLOAT)''')
db.commit()
db.close()

#### insert data
db = sqlite3.connect(':memory:') #### allocate memory
db = sqlite3.connect('_jonhonda_dat\mydb2')  #### make a database
#### build table:
cursor = db.cursor()
aFloat = sqlite3.register_adapter(mydata.iloc[0][0],float)
print(mydata.iloc[0][0])
cursor.execute ('''INSERT INTO StockPrices(Date, StockValue) VALUES(?,?)''',(mydata.index[0].strftime('%m %d %Y'),mydata.iloc[0][0]))
db.commit()
db.close()

db = sqlite3.connect(':memory:') #### allocate memory
db = sqlite3.connect('_jonhonda_dat\mydb2')  #### make a database
cursor = db.cursor()
cursor.execute('''SELECT Date, StockValue FROM StockPrices''')
Output=cursor.fetchone()
print(Output[0])
db.close()

OperationalError: table StockPrices already exists

In [3]:
## more fancy: put in a loop to insert 
#### first, make a simple loop in python
a = 1

while a < 10:
    print (a)

    a+=1
    
for x in range(0, 3):
    print(x)

1
2
3
4
5
6
7
8
9
0
1
2

In [27]:
#### iterate through myData:
rowi = 0
for rowi in range(0,len(mydata.index)):    
    myVal = mydata.iloc[rowi][0]
    myDate = mydata.index[rowi].strftime('%m %d %Y')
    print(myDate,myVal)

01 01 1947 243.08
04 01 1947 246.267
07 01 1947 250.115
10 01 1947 260.309
01 01 1948 266.173
04 01 1948 272.897
07 01 1948 279.497
10 01 1948 280.656
01 01 1949 275.37
04 01 1949 271.692
07 01 1949 273.262
10 01 1949 270.984
01 01 1950 281.209
04 01 1950 290.735
07 01 1950 308.51
10 01 1950 320.32
01 01 1951 336.372
04 01 1951 344.455
07 01 1951 351.774
10 01 1951 356.579
01 01 1952 360.195
04 01 1952 361.414
07 01 1952 368.084
10 01 1952 381.241
01 01 1953 388.472
04 01 1953 392.259
07 01 1953 391.696
10 01 1953 386.521
01 01 1954 385.924
04 01 1954 386.716
07 01 1954 391.596
10 01 1954 400.348
01 01 1955 413.753
04 01 1955 422.226
07 01 1955 430.925
10 01 1955 437.787
01 01 1956 440.491
04 01 1956 446.771
07 01 1956 451.983
10 01 1956 461.278
01 01 1957 470.578
04 01 1957 472.835
07 01 1957 480.315
10 01 1957 475.681
01 01 1958 468.353
04 01 1958 472.786
07 01 1958 486.653
10 01 1958 500.38
01 01 1959 511.063
04 01 1959 524.241
07 01 1959 525.196
10 01 1959 529.322
01 01 1960 543.347
04 01 1960 542.697
07 01 1960 546.012
10 01 1960 541.063
01 01 1961 545.949
04 01 1961 557.43
07 01 1961 568.228
10 01 1961 581.624
01 01 1962 595.176
04 01 1962 602.58
07 01 1962 609.575
10 01 1962 613.132
01 01 1963 622.679
04 01 1963 631.835
07 01 1963 644.96
10 01 1963 654.84
01 01 1964 671.149
04 01 1964 680.757
07 01 1964 692.807
10 01 1964 698.424
01 01 1965 719.248
04 01 1965 732.369
07 01 1965 750.184
10 01 1965 773.104
01 01 1966 797.328
04 01 1966 807.153
07 01 1966 820.798
10 01 1966 834.864
01 01 1967 846.046
04 01 1967 851.058
07 01 1967 866.614
10 01 1967 883.201
01 01 1968 911.135
04 01 1968 936.297
07 01 1968 952.347
10 01 1968 970.129
01 01 1969 995.419
04 01 1969 1011.361
07 01 1969 1032.016
10 01 1969 1040.741
01 01 1970 1053.528
04 01 1970 1070.11
07 01 1970 1088.461
10 01 1970 1091.462
01 01 1971 1137.812
04 01 1971 1159.355
07 01 1971 1180.313
10 01 1971 1193.585
01 01 1972 1233.807
04 01 1972 1270.122
07 01 1972 1293.837
10 01 1972 1332.023
01 01 1973 1380.68
04 01 1973 1417.595
07 01 1973 1436.813
10 01 1973 1479.069
01 01 1974 1494.654
04 01 1974 1534.22
07 01 1974 1563.396
10 01 1974 1603.004
01 01 1975 1619.553
04 01 1975 1656.448
07 01 1975 1713.812
10 01 1975 1765.867
01 01 1976 1824.509
04 01 1976 1856.944
07 01 1976 1890.5
10 01 1976 1938.413
01 01 1977 1992.534
04 01 1977 2060.165
07 01 1977 2122.387
10 01 1977 2168.716
01 01 1978 2208.688
04 01 1978 2336.563
07 01 1978 2398.866
10 01 1978 2482.159
01 01 1979 2531.555
04 01 1979 2595.909
07 01 1979 2670.388
10 01 1979 2730.705
01 01 1980 2796.523
04 01 1980 2799.938
07 01 1980 2860.044
10 01 1980 2993.525
01 01 1981 3131.799
04 01 1981 3167.251
07 01 1981 3261.203
10 01 1981 3283.536
01 01 1982 3273.809
04 01 1982 3331.281
07 01 1982 3367.072
10 01 1982 3407.81
01 01 1983 3480.321
04 01 1983 3583.844
07 01 1983 3692.257
10 01 1983 3796.121
01 01 1984 3912.774
04 01 1984 4015.0
07 01 1984 4087.378
10 01 1984 4147.606
01 01 1985 4237.01
04 01 1985 4302.297
07 01 1985 4394.563
10 01 1985 4453.105
01 01 1986 4516.344
04 01 1986 4555.245
07 01 1986 4619.627
10 01 1986 4669.396
01 01 1987 4736.231
04 01 1987 4821.459
07 01 1987 4900.509
10 01 1987 5022.67
01 01 1988 5090.615
04 01 1988 5207.707
07 01 1988 5299.486
10 01 1988 5412.713
01 01 1989 5527.352
04 01 1989 5628.429
07 01 1989 5711.556
10 01 1989 5763.444
01 01 1990 5890.835
04 01 1990 5974.665
07 01 1990 6029.504
10 01 1990 6023.332
01 01 1991 6054.867
04 01 1991 6143.612
07 01 1991 6218.425
10 01 1991 6279.296
01 01 1992 6380.798
04 01 1992 6492.299
07 01 1992 6586.548
10 01 1992 6697.553
01 01 1993 6748.182
04 01 1993 6829.594
07 01 1993 6904.222
10 01 1993 7032.844
01 01 1994 7136.259
04 01 1994 7269.847
07 01 1994 7352.255
10 01 1994 7476.661
01 01 1995 7545.296
04 01 1995 7604.923
07 01 1995 7706.531
10 01 1995 7799.493
01 01 1996 7893.146
04 01 1996 8061.535
07 01 1996 8159.043
10 01 1996 8287.078
01 01 1997 8402.06
04 01 1997 8551.94
07 01 1997 8691.756
10 01 1997 8788.32
01 01 1998 8889.732
04 01 1998 8994.738
07 01 1998 9146.521
10 01 1998 9325.65
01 01 1999 9447.103
04 01 1999 9557.005
07 01 1999 9712.28
10 01 1999 9926.101
01 01 2000 10031.031
04 01 2000 10278.34
07 01 2000 10357.445
10 01 2000 10472.285
01 01 2001 10508.121
04 01 2001 10638.384
07 01 2001 10639.486
10 01 2001 10701.317
01 01 2002 10834.445
04 01 2002 10934.752
07 01 2002 11037.057
10 01 2002 11103.834
01 01 2003 11230.078
04 01 2003 11370.653
07 01 2003 11625.137
10 01 2003 11816.827
01 01 2004 11988.403
04 01 2004 12181.398
07 01 2004 12367.744
10 01 2004 12562.163
01 01 2005 12813.729
04 01 2005 12974.083
07 01 2005 13205.445
10 01 2005 13381.629
01 01 2006 13648.904
04 01 2006 13799.794
07 01 2006 13908.498
10 01 2006 14066.37
01 01 2007 14233.226
04 01 2007 14422.313
07 01 2007 14569.675
10 01 2007 14685.33
01 01 2008 14668.445
04 01 2008 14812.974
07 01 2008 14842.983
10 01 2008 14549.949
01 01 2009 14383.885
04 01 2009 14340.417
07 01 2009 14384.145
10 01 2009 14566.511
01 01 2010 14681.063
04 01 2010 14888.6
07 01 2010 15057.66
10 01 2010 15230.208
01 01 2011 15238.371
04 01 2011 15460.926
07 01 2011 15587.125
10 01 2011 15785.312
01 01 2012 15973.881
04 01 2012 16121.851
07 01 2012 16227.939
10 01 2012 16297.349
01 01 2013 16475.44
04 01 2013 16541.39
07 01 2013 16749.349
10 01 2013 16999.888
01 01 2014 17031.324
04 01 2014 17320.921
07 01 2014 17622.257
10 01 2014 17735.933
01 01 2015 17874.715
04 01 2015 18093.224
07 01 2015 18227.689
10 01 2015 18287.226
01 01 2016 18325.187
04 01 2016 18538.039
07 01 2016 18729.13
10 01 2016 18905.545
01 01 2017 19057.705
04 01 2017 19250.009
07 01 2017 19508.986

In [41]:
#### now let's try iterating thru mydata, inserting each record:
#### insert data
db = sqlite3.connect(':memory:') #### allocate memory
db = sqlite3.connect('_jonhonda_dat\mydb2')  #### make a database
#### build table:
cursor = db.cursor()

rowi = 0
for rowi in range(0,len(mydata.index)):    
    myVal = mydata.iloc[rowi][0]
    myDate = mydata.index[rowi].strftime('%m %d %Y')
    cursor.execute ('''INSERT INTO StockPrices(Date, StockValue) VALUES(?,?)''',(myDate,myVal))
    db.commit()
db.close()


db = sqlite3.connect(':memory:') #### allocate memory
db = sqlite3.connect('_jonhonda_dat\mydb2')  #### make a database
cursor = db.cursor()
cursor.execute('''SELECT Date, StockValue FROM StockPrices''')
print(cursor.fetchall())
db.close()

[('01 01 1947', 243.08), ('01 01 1947', 243.08), ('04 01 1947', 246.267), ('07 01 1947', 250.115), ('10 01 1947', 260.309), ('01 01 1948', 266.173), ('04 01 1948', 272.897), ('07 01 1948', 279.497), ('10 01 1948', 280.656), ('01 01 1949', 275.37), ('04 01 1949', 271.692), ('07 01 1949', 273.262), ('10 01 1949', 270.984), ('01 01 1950', 281.209), ('04 01 1950', 290.735), ('07 01 1950', 308.51), ('10 01 1950', 320.32), ('01 01 1951', 336.372), ('04 01 1951', 344.455), ('07 01 1951', 351.774), ('10 01 1951', 356.579), ('01 01 1952', 360.195), ('04 01 1952', 361.414), ('07 01 1952', 368.084), ('10 01 1952', 381.241), ('01 01 1953', 388.472), ('04 01 1953', 392.259), ('07 01 1953', 391.696), ('10 01 1953', 386.521), ('01 01 1954', 385.924), ('04 01 1954', 386.716), ('07 01 1954', 391.596), ('10 01 1954', 400.348), ('01 01 1955', 413.753), ('04 01 1955', 422.226), ('07 01 1955', 430.925), ('10 01 1955', 437.787), ('01 01 1956', 440.491), ('04 01 1956', 446.771), ('07 01 1956', 451.983), ('10 01 1956', 461.278), ('01 01 1957', 470.578), ('04 01 1957', 472.835), ('07 01 1957', 480.315), ('10 01 1957', 475.681), ('01 01 1958', 468.353), ('04 01 1958', 472.786), ('07 01 1958', 486.653), ('10 01 1958', 500.38), ('01 01 1959', 511.063), ('04 01 1959', 524.241), ('07 01 1959', 525.196), ('10 01 1959', 529.322), ('01 01 1960', 543.347), ('04 01 1960', 542.697), ('07 01 1960', 546.012), ('10 01 1960', 541.063), ('01 01 1961', 545.949), ('04 01 1961', 557.43), ('07 01 1961', 568.228), ('10 01 1961', 581.624), ('01 01 1962', 595.176), ('04 01 1962', 602.58), ('07 01 1962', 609.575), ('10 01 1962', 613.132), ('01 01 1963', 622.679), ('04 01 1963', 631.835), ('07 01 1963', 644.96), ('10 01 1963', 654.84), ('01 01 1964', 671.149), ('04 01 1964', 680.757), ('07 01 1964', 692.807), ('10 01 1964', 698.424), ('01 01 1965', 719.248), ('04 01 1965', 732.369), ('07 01 1965', 750.184), ('10 01 1965', 773.104), ('01 01 1966', 797.328), ('04 01 1966', 807.153), ('07 01 1966', 820.798), ('10 01 1966', 834.864), ('01 01 1967', 846.046), ('04 01 1967', 851.058), ('07 01 1967', 866.614), ('10 01 1967', 883.201), ('01 01 1968', 911.135), ('04 01 1968', 936.297), ('07 01 1968', 952.347), ('10 01 1968', 970.129), ('01 01 1969', 995.419), ('04 01 1969', 1011.361), ('07 01 1969', 1032.016), ('10 01 1969', 1040.741), ('01 01 1970', 1053.528), ('04 01 1970', 1070.11), ('07 01 1970', 1088.461), ('10 01 1970', 1091.462), ('01 01 1971', 1137.812), ('04 01 1971', 1159.355), ('07 01 1971', 1180.313), ('10 01 1971', 1193.585), ('01 01 1972', 1233.807), ('04 01 1972', 1270.122), ('07 01 1972', 1293.837), ('10 01 1972', 1332.023), ('01 01 1973', 1380.68), ('04 01 1973', 1417.595), ('07 01 1973', 1436.813), ('10 01 1973', 1479.069), ('01 01 1974', 1494.654), ('04 01 1974', 1534.22), ('07 01 1974', 1563.396), ('10 01 1974', 1603.004), ('01 01 1975', 1619.553), ('04 01 1975', 1656.448), ('07 01 1975', 1713.812), ('10 01 1975', 1765.867), ('01 01 1976', 1824.509), ('04 01 1976', 1856.944), ('07 01 1976', 1890.5), ('10 01 1976', 1938.413), ('01 01 1977', 1992.534), ('04 01 1977', 2060.165), ('07 01 1977', 2122.387), ('10 01 1977', 2168.716), ('01 01 1978', 2208.688), ('04 01 1978', 2336.563), ('07 01 1978', 2398.866), ('10 01 1978', 2482.159), ('01 01 1979', 2531.555), ('04 01 1979', 2595.909), ('07 01 1979', 2670.388), ('10 01 1979', 2730.705), ('01 01 1980', 2796.523), ('04 01 1980', 2799.938), ('07 01 1980', 2860.044), ('10 01 1980', 2993.525), ('01 01 1981', 3131.799), ('04 01 1981', 3167.251), ('07 01 1981', 3261.203), ('10 01 1981', 3283.536), ('01 01 1982', 3273.809), ('04 01 1982', 3331.281), ('07 01 1982', 3367.072), ('10 01 1982', 3407.81), ('01 01 1983', 3480.321), ('04 01 1983', 3583.844), ('07 01 1983', 3692.257), ('10 01 1983', 3796.121), ('01 01 1984', 3912.774), ('04 01 1984', 4015.0), ('07 01 1984', 4087.378), ('10 01 1984', 4147.606), ('01 01 1985', 4237.01), ('04 01 1985', 4302.297), ('07 01 1985', 4394.563), ('10 01 1985', 4453.105), ('01 01 1986', 4516.344), ('04 01 1986', 4555.245), ('07 01 1986', 4619.627), ('10 01 1986', 4669.396), ('01 01 1987', 4736.231), ('04 01 1987', 4821.459), ('07 01 1987', 4900.509), ('10 01 1987', 5022.67), ('01 01 1988', 5090.615), ('04 01 1988', 5207.707), ('07 01 1988', 5299.486), ('10 01 1988', 5412.713), ('01 01 1989', 5527.352), ('04 01 1989', 5628.429), ('07 01 1989', 5711.556), ('10 01 1989', 5763.444), ('01 01 1990', 5890.835), ('04 01 1990', 5974.665), ('07 01 1990', 6029.504), ('10 01 1990', 6023.332), ('01 01 1991', 6054.867), ('04 01 1991', 6143.612), ('07 01 1991', 6218.425), ('10 01 1991', 6279.296), ('01 01 1992', 6380.798), ('04 01 1992', 6492.299), ('07 01 1992', 6586.548), ('10 01 1992', 6697.553), ('01 01 1993', 6748.182), ('04 01 1993', 6829.594), ('07 01 1993', 6904.222), ('10 01 1993', 7032.844), ('01 01 1994', 7136.259), ('04 01 1994', 7269.847), ('07 01 1994', 7352.255), ('10 01 1994', 7476.661), ('01 01 1995', 7545.296), ('04 01 1995', 7604.923), ('07 01 1995', 7706.531), ('10 01 1995', 7799.493), ('01 01 1996', 7893.146), ('04 01 1996', 8061.535), ('07 01 1996', 8159.043), ('10 01 1996', 8287.078), ('01 01 1997', 8402.06), ('04 01 1997', 8551.94), ('07 01 1997', 8691.756), ('10 01 1997', 8788.32), ('01 01 1998', 8889.732), ('04 01 1998', 8994.738), ('07 01 1998', 9146.521), ('10 01 1998', 9325.65), ('01 01 1999', 9447.103), ('04 01 1999', 9557.005), ('07 01 1999', 9712.28), ('10 01 1999', 9926.101), ('01 01 2000', 10031.031), ('04 01 2000', 10278.34), ('07 01 2000', 10357.445), ('10 01 2000', 10472.285), ('01 01 2001', 10508.121), ('04 01 2001', 10638.384), ('07 01 2001', 10639.486), ('10 01 2001', 10701.317), ('01 01 2002', 10834.445), ('04 01 2002', 10934.752), ('07 01 2002', 11037.057), ('10 01 2002', 11103.834), ('01 01 2003', 11230.078), ('04 01 2003', 11370.653), ('07 01 2003', 11625.137), ('10 01 2003', 11816.827), ('01 01 2004', 11988.403), ('04 01 2004', 12181.398), ('07 01 2004', 12367.744), ('10 01 2004', 12562.163), ('01 01 2005', 12813.729), ('04 01 2005', 12974.083), ('07 01 2005', 13205.445), ('10 01 2005', 13381.629), ('01 01 2006', 13648.904), ('04 01 2006', 13799.794), ('07 01 2006', 13908.498), ('10 01 2006', 14066.37), ('01 01 2007', 14233.226), ('04 01 2007', 14422.313), ('07 01 2007', 14569.675), ('10 01 2007', 14685.33), ('01 01 2008', 14668.445), ('04 01 2008', 14812.974), ('07 01 2008', 14842.983), ('10 01 2008', 14549.949), ('01 01 2009', 14383.885), ('04 01 2009', 14340.417), ('07 01 2009', 14384.145), ('10 01 2009', 14566.511), ('01 01 2010', 14681.063), ('04 01 2010', 14888.6), ('07 01 2010', 15057.66), ('10 01 2010', 15230.208), ('01 01 2011', 15238.371), ('04 01 2011', 15460.926), ('07 01 2011', 15587.125), ('10 01 2011', 15785.312), ('01 01 2012', 15973.881), ('04 01 2012', 16121.851), ('07 01 2012', 16227.939), ('10 01 2012', 16297.349), ('01 01 2013', 16475.44), ('04 01 2013', 16541.39), ('07 01 2013', 16749.349), ('10 01 2013', 16999.888), ('01 01 2014', 17031.324), ('04 01 2014', 17320.921), ('07 01 2014', 17622.257), ('10 01 2014', 17735.933), ('01 01 2015', 17874.715), ('04 01 2015', 18093.224), ('07 01 2015', 18227.689), ('10 01 2015', 18287.226), ('01 01 2016', 18325.187), ('04 01 2016', 18538.039), ('07 01 2016', 18729.13), ('10 01 2016', 18905.545), ('01 01 2017', 19057.705), ('04 01 2017', 19250.009), ('07 01 2017', 19508.986), ('01 01 1947', 243.08), ('04 01 1947', 246.267), ('07 01 1947', 250.115), ('10 01 1947', 260.309), ('01 01 1948', 266.173), ('04 01 1948', 272.897), ('07 01 1948', 279.497), ('10 01 1948', 280.656), ('01 01 1949', 275.37), ('04 01 1949', 271.692), ('07 01 1949', 273.262), ('10 01 1949', 270.984), ('01 01 1950', 281.209), ('04 01 1950', 290.735), ('07 01 1950', 308.51), ('10 01 1950', 320.32), ('01 01 1951', 336.372), ('04 01 1951', 344.455), ('07 01 1951', 351.774), ('10 01 1951', 356.579), ('01 01 1952', 360.195), ('04 01 1952', 361.414), ('07 01 1952', 368.084), ('10 01 1952', 381.241), ('01 01 1953', 388.472), ('04 01 1953', 392.259), ('07 01 1953', 391.696), ('10 01 1953', 386.521), ('01 01 1954', 385.924), ('04 01 1954', 386.716), ('07 01 1954', 391.596), ('10 01 1954', 400.348), ('01 01 1955', 413.753), ('04 01 1955', 422.226), ('07 01 1955', 430.925), ('10 01 1955', 437.787), ('01 01 1956', 440.491), ('04 01 1956', 446.771), ('07 01 1956', 451.983), ('10 01 1956', 461.278), ('01 01 1957', 470.578), ('04 01 1957', 472.835), ('07 01 1957', 480.315), ('10 01 1957', 475.681), ('01 01 1958', 468.353), ('04 01 1958', 472.786), ('07 01 1958', 486.653), ('10 01 1958', 500.38), ('01 01 1959', 511.063), ('04 01 1959', 524.241), ('07 01 1959', 525.196), ('10 01 1959', 529.322), ('01 01 1960', 543.347), ('04 01 1960', 542.697), ('07 01 1960', 546.012), ('10 01 1960', 541.063), ('01 01 1961', 545.949), ('04 01 1961', 557.43), ('07 01 1961', 568.228), ('10 01 1961', 581.624), ('01 01 1962', 595.176), ('04 01 1962', 602.58), ('07 01 1962', 609.575), ('10 01 1962', 613.132), ('01 01 1963', 622.679), ('04 01 1963', 631.835), ('07 01 1963', 644.96), ('10 01 1963', 654.84), ('01 01 1964', 671.149), ('04 01 1964', 680.757), ('07 01 1964', 692.807), ('10 01 1964', 698.424), ('01 01 1965', 719.248), ('04 01 1965', 732.369), ('07 01 1965', 750.184), ('10 01 1965', 773.104), ('01 01 1966', 797.328), ('04 01 1966', 807.153), ('07 01 1966', 820.798), ('10 01 1966', 834.864), ('01 01 1967', 846.046), ('04 01 1967', 851.058), ('07 01 1967', 866.614), ('10 01 1967', 883.201), ('01 01 1968', 911.135), ('04 01 1968', 936.297), ('07 01 1968', 952.347), ('10 01 1968', 970.129), ('01 01 1969', 995.419), ('04 01 1969', 1011.361), ('07 01 1969', 1032.016), ('10 01 1969', 1040.741), ('01 01 1970', 1053.528), ('04 01 1970', 1070.11), ('07 01 1970', 1088.461), ('10 01 1970', 1091.462), ('01 01 1971', 1137.812), ('04 01 1971', 1159.355), ('07 01 1971', 1180.313), ('10 01 1971', 1193.585), ('01 01 1972', 1233.807), ('04 01 1972', 1270.122), ('07 01 1972', 1293.837), ('10 01 1972', 1332.023), ('01 01 1973', 1380.68), ('04 01 1973', 1417.595), ('07 01 1973', 1436.813), ('10 01 1973', 1479.069), ('01 01 1974', 1494.654), ('04 01 1974', 1534.22), ('07 01 1974', 1563.396), ('10 01 1974', 1603.004), ('01 01 1975', 1619.553), ('04 01 1975', 1656.448), ('07 01 1975', 1713.812), ('10 01 1975', 1765.867), ('01 01 1976', 1824.509), ('04 01 1976', 1856.944), ('07 01 1976', 1890.5), ('10 01 1976', 1938.413), ('01 01 1977', 1992.534), ('04 01 1977', 2060.165), ('07 01 1977', 2122.387), ('10 01 1977', 2168.716), ('01 01 1978', 2208.688), ('04 01 1978', 2336.563), ('07 01 1978', 2398.866), ('10 01 1978', 2482.159), ('01 01 1979', 2531.555), ('04 01 1979', 2595.909), ('07 01 1979', 2670.388), ('10 01 1979', 2730.705), ('01 01 1980', 2796.523), ('04 01 1980', 2799.938), ('07 01 1980', 2860.044), ('10 01 1980', 2993.525), ('01 01 1981', 3131.799), ('04 01 1981', 3167.251), ('07 01 1981', 3261.203), ('10 01 1981', 3283.536), ('01 01 1982', 3273.809), ('04 01 1982', 3331.281), ('07 01 1982', 3367.072), ('10 01 1982', 3407.81), ('01 01 1983', 3480.321), ('04 01 1983', 3583.844), ('07 01 1983', 3692.257), ('10 01 1983', 3796.121), ('01 01 1984', 3912.774), ('04 01 1984', 4015.0), ('07 01 1984', 4087.378), ('10 01 1984', 4147.606), ('01 01 1985', 4237.01), ('04 01 1985', 4302.297), ('07 01 1985', 4394.563), ('10 01 1985', 4453.105), ('01 01 1986', 4516.344), ('04 01 1986', 4555.245), ('07 01 1986', 4619.627), ('10 01 1986', 4669.396), ('01 01 1987', 4736.231), ('04 01 1987', 4821.459), ('07 01 1987', 4900.509), ('10 01 1987', 5022.67), ('01 01 1988', 5090.615), ('04 01 1988', 5207.707), ('07 01 1988', 5299.486), ('10 01 1988', 5412.713), ('01 01 1989', 5527.352), ('04 01 1989', 5628.429), ('07 01 1989', 5711.556), ('10 01 1989', 5763.444), ('01 01 1990', 5890.835), ('04 01 1990', 5974.665), ('07 01 1990', 6029.504), ('10 01 1990', 6023.332), ('01 01 1991', 6054.867), ('04 01 1991', 6143.612), ('07 01 1991', 6218.425), ('10 01 1991', 6279.296), ('01 01 1992', 6380.798), ('04 01 1992', 6492.299), ('07 01 1992', 6586.548), ('10 01 1992', 6697.553), ('01 01 1993', 6748.182), ('04 01 1993', 6829.594), ('07 01 1993', 6904.222), ('10 01 1993', 7032.844), ('01 01 1994', 7136.259), ('04 01 1994', 7269.847), ('07 01 1994', 7352.255), ('10 01 1994', 7476.661), ('01 01 1995', 7545.296), ('04 01 1995', 7604.923), ('07 01 1995', 7706.531), ('10 01 1995', 7799.493), ('01 01 1996', 7893.146), ('04 01 1996', 8061.535), ('07 01 1996', 8159.043), ('10 01 1996', 8287.078), ('01 01 1997', 8402.06), ('04 01 1997', 8551.94), ('07 01 1997', 8691.756), ('10 01 1997', 8788.32), ('01 01 1998', 8889.732), ('04 01 1998', 8994.738), ('07 01 1998', 9146.521), ('10 01 1998', 9325.65), ('01 01 1999', 9447.103), ('04 01 1999', 9557.005), ('07 01 1999', 9712.28), ('10 01 1999', 9926.101), ('01 01 2000', 10031.031), ('04 01 2000', 10278.34), ('07 01 2000', 10357.445), ('10 01 2000', 10472.285), ('01 01 2001', 10508.121), ('04 01 2001', 10638.384), ('07 01 2001', 10639.486), ('10 01 2001', 10701.317), ('01 01 2002', 10834.445), ('04 01 2002', 10934.752), ('07 01 2002', 11037.057), ('10 01 2002', 11103.834), ('01 01 2003', 11230.078), ('04 01 2003', 11370.653), ('07 01 2003', 11625.137), ('10 01 2003', 11816.827), ('01 01 2004', 11988.403), ('04 01 2004', 12181.398), ('07 01 2004', 12367.744), ('10 01 2004', 12562.163), ('01 01 2005', 12813.729), ('04 01 2005', 12974.083), ('07 01 2005', 13205.445), ('10 01 2005', 13381.629), ('01 01 2006', 13648.904), ('04 01 2006', 13799.794), ('07 01 2006', 13908.498), ('10 01 2006', 14066.37), ('01 01 2007', 14233.226), ('04 01 2007', 14422.313), ('07 01 2007', 14569.675), ('10 01 2007', 14685.33), ('01 01 2008', 14668.445), ('04 01 2008', 14812.974), ('07 01 2008', 14842.983), ('10 01 2008', 14549.949), ('01 01 2009', 14383.885), ('04 01 2009', 14340.417), ('07 01 2009', 14384.145), ('10 01 2009', 14566.511), ('01 01 2010', 14681.063), ('04 01 2010', 14888.6), ('07 01 2010', 15057.66), ('10 01 2010', 15230.208), ('01 01 2011', 15238.371), ('04 01 2011', 15460.926), ('07 01 2011', 15587.125), ('10 01 2011', 15785.312), ('01 01 2012', 15973.881), ('04 01 2012', 16121.851), ('07 01 2012', 16227.939), ('10 01 2012', 16297.349), ('01 01 2013', 16475.44), ('04 01 2013', 16541.39), ('07 01 2013', 16749.349), ('10 01 2013', 16999.888), ('01 01 2014', 17031.324), ('04 01 2014', 17320.921), ('07 01 2014', 17622.257), ('10 01 2014', 17735.933), ('01 01 2015', 17874.715), ('04 01 2015', 18093.224), ('07 01 2015', 18227.689), ('10 01 2015', 18287.226), ('01 01 2016', 18325.187), ('04 01 2016', 18538.039), ('07 01 2016', 18729.13), ('10 01 2016', 18905.545), ('01 01 2017', 19057.705), ('04 01 2017', 19250.009), ('07 01 2017', 19508.986), ('01 01 1947', 243.08), ('04 01 1947', 246.267), ('07 01 1947', 250.115), ('10 01 1947', 260.309), ('01 01 1948', 266.173), ('04 01 1948', 272.897), ('07 01 1948', 279.497), ('10 01 1948', 280.656), ('01 01 1949', 275.37), ('04 01 1949', 271.692), ('07 01 1949', 273.262), ('10 01 1949', 270.984), ('01 01 1950', 281.209), ('04 01 1950', 290.735), ('07 01 1950', 308.51), ('10 01 1950', 320.32), ('01 01 1951', 336.372), ('04 01 1951', 344.455), ('07 01 1951', 351.774), ('10 01 1951', 356.579), ('01 01 1952', 360.195), ('04 01 1952', 361.414), ('07 01 1952', 368.084), ('10 01 1952', 381.241), ('01 01 1953', 388.472), ('04 01 1953', 392.259), ('07 01 1953', 391.696), ('10 01 1953', 386.521), ('01 01 1954', 385.924), ('04 01 1954', 386.716), ('07 01 1954', 391.596), ('10 01 1954', 400.348), ('01 01 1955', 413.753), ('04 01 1955', 422.226), ('07 01 1955', 430.925), ('10 01 1955', 437.787), ('01 01 1956', 440.491), ('04 01 1956', 446.771), ('07 01 1956', 451.983), ('10 01 1956', 461.278), ('01 01 1957', 470.578), ('04 01 1957', 472.835), ('07 01 1957', 480.315), ('10 01 1957', 475.681), ('01 01 1958', 468.353), ('04 01 1958', 472.786), ('07 01 1958', 486.653), ('10 01 1958', 500.38), ('01 01 1959', 511.063), ('04 01 1959', 524.241), ('07 01 1959', 525.196), ('10 01 1959', 529.322), ('01 01 1960', 543.347), ('04 01 1960', 542.697), ('07 01 1960', 546.012), ('10 01 1960', 541.063), ('01 01 1961', 545.949), ('04 01 1961', 557.43), ('07 01 1961', 568.228), ('10 01 1961', 581.624), ('01 01 1962', 595.176), ('04 01 1962', 602.58), ('07 01 1962', 609.575), ('10 01 1962', 613.132), ('01 01 1963', 622.679), ('04 01 1963', 631.835), ('07 01 1963', 644.96), ('10 01 1963', 654.84), ('01 01 1964', 671.149), ('04 01 1964', 680.757), ('07 01 1964', 692.807), ('10 01 1964', 698.424), ('01 01 1965', 719.248), ('04 01 1965', 732.369), ('07 01 1965', 750.184), ('10 01 1965', 773.104), ('01 01 1966', 797.328), ('04 01 1966', 807.153), ('07 01 1966', 820.798), ('10 01 1966', 834.864), ('01 01 1967', 846.046), ('04 01 1967', 851.058), ('07 01 1967', 866.614), ('10 01 1967', 883.201), ('01 01 1968', 911.135), ('04 01 1968', 936.297), ('07 01 1968', 952.347), ('10 01 1968', 970.129), ('01 01 1969', 995.419), ('04 01 1969', 1011.361), ('07 01 1969', 1032.016), ('10 01 1969', 1040.741), ('01 01 1970', 1053.528), ('04 01 1970', 1070.11), ('07 01 1970', 1088.461), ('10 01 1970', 1091.462), ('01 01 1971', 1137.812), ('04 01 1971', 1159.355), ('07 01 1971', 1180.313), ('10 01 1971', 1193.585), ('01 01 1972', 1233.807), ('04 01 1972', 1270.122), ('07 01 1972', 1293.837), ('10 01 1972', 1332.023), ('01 01 1973', 1380.68), ('04 01 1973', 1417.595), ('07 01 1973', 1436.813), ('10 01 1973', 1479.069), ('01 01 1974', 1494.654), ('04 01 1974', 1534.22), ('07 01 1974', 1563.396), ('10 01 1974', 1603.004), ('01 01 1975', 1619.553), ('04 01 1975', 1656.448), ('07 01 1975', 1713.812), ('10 01 1975', 1765.867), ('01 01 1976', 1824.509), ('04 01 1976', 1856.944), ('07 01 1976', 1890.5), ('10 01 1976', 1938.413), ('01 01 1977', 1992.534), ('04 01 1977', 2060.165), ('07 01 1977', 2122.387), ('10 01 1977', 2168.716), ('01 01 1978', 2208.688), ('04 01 1978', 2336.563), ('07 01 1978', 2398.866), ('10 01 1978', 2482.159), ('01 01 1979', 2531.555), ('04 01 1979', 2595.909), ('07 01 1979', 2670.388), ('10 01 1979', 2730.705), ('01 01 1980', 2796.523), ('04 01 1980', 2799.938), ('07 01 1980', 2860.044), ('10 01 1980', 2993.525), ('01 01 1981', 3131.799), ('04 01 1981', 3167.251), ('07 01 1981', 3261.203), ('10 01 1981', 3283.536), ('01 01 1982', 3273.809), ('04 01 1982', 3331.281), ('07 01 1982', 3367.072), ('10 01 1982', 3407.81), ('01 01 1983', 3480.321), ('04 01 1983', 3583.844), ('07 01 1983', 3692.257), ('10 01 1983', 3796.121), ('01 01 1984', 3912.774), ('04 01 1984', 4015.0), ('07 01 1984', 4087.378), ('10 01 1984', 4147.606), ('01 01 1985', 4237.01), ('04 01 1985', 4302.297), ('07 01 1985', 4394.563), ('10 01 1985', 4453.105), ('01 01 1986', 4516.344), ('04 01 1986', 4555.245), ('07 01 1986', 4619.627), ('10 01 1986', 4669.396), ('01 01 1987', 4736.231), ('04 01 1987', 4821.459), ('07 01 1987', 4900.509), ('10 01 1987', 5022.67), ('01 01 1988', 5090.615), ('04 01 1988', 5207.707), ('07 01 1988', 5299.486), ('10 01 1988', 5412.713), ('01 01 1989', 5527.352), ('04 01 1989', 5628.429), ('07 01 1989', 5711.556), ('10 01 1989', 5763.444), ('01 01 1990', 5890.835), ('04 01 1990', 5974.665), ('07 01 1990', 6029.504), ('10 01 1990', 6023.332), ('01 01 1991', 6054.867), ('04 01 1991', 6143.612), ('07 01 1991', 6218.425), ('10 01 1991', 6279.296), ('01 01 1992', 6380.798), ('04 01 1992', 6492.299), ('07 01 1992', 6586.548), ('10 01 1992', 6697.553), ('01 01 1993', 6748.182), ('04 01 1993', 6829.594), ('07 01 1993', 6904.222), ('10 01 1993', 7032.844), ('01 01 1994', 7136.259), ('04 01 1994', 7269.847), ('07 01 1994', 7352.255), ('10 01 1994', 7476.661), ('01 01 1995', 7545.296), ('04 01 1995', 7604.923), ('07 01 1995', 7706.531), ('10 01 1995', 7799.493), ('01 01 1996', 7893.146), ('04 01 1996', 8061.535), ('07 01 1996', 8159.043), ('10 01 1996', 8287.078), ('01 01 1997', 8402.06), ('04 01 1997', 8551.94), ('07 01 1997', 8691.756), ('10 01 1997', 8788.32), ('01 01 1998', 8889.732), ('04 01 1998', 8994.738), ('07 01 1998', 9146.521), ('10 01 1998', 9325.65), ('01 01 1999', 9447.103), ('04 01 1999', 9557.005), ('07 01 1999'

In [ ]:
#### Ran out of time...need to revise project objective to just download a metal's closing price record and write to db
####get quandl data:
import quandl
print("getting quandl data....")
quandl.ApiConfig.api_key= "L8zt1AhNiQi4gufsXy4g"
mydata = quandl.get("LME/PR_CO")

#### write to DB:
import sqlite3
import os
db = sqlite3.connect(':memory:') #### allocate memory
os.remove('_jonhonda_dat\quandlala') #### remove existing db if it exists
db = sqlite3.connect('_jonhonda_dat\quandlala')  #### make a database
 #### build table:
cursor = db.cursor()
cursor.execute ('''CREATE TABLE COPrices(id INTEGER PRIMARY KEY, Date TEXT, Val FLOAT)''')
db.commit()

#### iterate through results writing to database:
import datetime
print ("writing to database...")
rowi = 0
for rowi in range(0,len(mydata.index)):    
    myVal = mydata.iloc[rowi][0]
    myDate = mydata.index[rowi].strftime('%m %d %Y')
    cursor.execute ('''INSERT INTO COPrices(Date, Val) VALUES(?,?)''',(myDate,myVal))
    db.commit()
    if rowi%250==0:
        print("still writing data...Row: ", rowi)

#### get data from db
print ("get data from db")
cursor.execute('''SELECT * FROM COPrices''')
print(cursor.fetchall())
db.close()    

print ("fin")

getting quandl data....
writing to database...
still writing data...Row:  0
still writing data...Row:  250
still writing data...Row:  500
still writing data...Row:  750
still writing data...Row:  1000
still writing data...Row:  1250